/* Universal Styles */

html {
  font-size: 16px;
  font-family: proxima-nova;
}

header {
  background-color: transparent;
  height: 7.625rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

body {
  margin: 0px;
}

a {
  font-family: proxima-nova, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: white;
}

/* LOGO PART OF NAVIGATION BAR */
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

.header-logo img {
  height: 5rem;
  width: 24.625rem;
}

/* NAV ITEMS */
nav {
  padding-right: 40px;
}

nav span {
  margin-right: 1.5rem;
}

.log-in {
  padding: 11px 36px;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
}

.sign-up {
  color: white;
  font-weight: bold;
  padding: 11px 36px;
  background-image:linear-gradient(69deg, #f04c23, #f2b031);
  border-radius: 4px;
}

/* BACKGROUND */
.hero-image {
  background: url(../assets/backgrounds/Hero.png) no-repeat center;
  background-size: cover;
  height: 980px;
  width: 100%;
  position: relative;
}

.hero-content {
  display: flex;
  flex-wrap: nowrap;
}

/* HERO IMAGE */
.left-column-hero {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 50%;
  height: 800px;
  padding-left: 40px;
  padding-top: 165px;
}

/* .hero-image-left {
} */

.hero-image-left img {
  width: 100%;
  height: auto;
}

/* HERO TEXT */
.right-column-hero {
  display: flex;
  justify-content: center;
  /* flex-direction: column; */
  width: 50%;
  height: 100%;
}
/* HERO TEXT SPACING */
.hero-text-box {
  width: 500px;
  margin-left: 60px;
  margin-top: 8.875rem;
}

/* HERO H1 */
.hero-h1 {
  font-size: 4.5rem;
  font-weight: bold;
  color: white;
  line-height: 77px;
  text-align: left;
}

.hero-h1 span {
  color: #f04c23;
}

/* HERO H2 */
.hero-h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  color: white;
  padding-top: 2rem;
  margin-bottom: 32px;
}

.button-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 40px;
  background-image:linear-gradient(69deg, #f04c23, #f2b031);
  border-radius: 4px;
}

.hero-button {
  color: white;
  font-weight: bold;
}
